html
{
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body
{
    margin : 0;
}

#titlebar
{
    width: 100%;
    height: 200px;
    background : white;
    color : #3652FF;
    margin-top: -75px;
}

#titlebar p
{
    font-size: 75px;
    padding-top : 45px;
}

#nav
{
    width : 100%;
    height: 70px;
    background : #3652FF;
    color : white;
}

#main
{
    width : 100%;
    background: #f4f4f4;    
}

footer
{
    width: 100%;
    height: 30px;
    background : #8394FF;
    color : white;
    text-align: center;
    padding-top: 10px; 
}

#navtable a
{
    text-decoration: none;
    color : white;
    font-size : 25px;
    margin-right: 5px;
    margin-left: 5px;
}

#item_main a
{
    text-decoration: none;
    color : black;
    margin-right: 5px;
    margin-left: 5px;
    width: 150px;
    height : 150px;
}

#navtable td
{
    padding-top : 15px;
}

#imgError
{
    padding-top : 100px;
    width: 400px;
    height: 250px;
    padding-bottom: 10px;
}

#error
{
    height: 500px;
    font-size: 30px;
}

#item
{
    float: left;
    padding : 5px;
    height: 150px;
    width: 150px;
}

#item_main
{
    width: 640px;
    height: 720px;
}

#item_search
{
    width: 640px;
    height: 100px;
}

#item_d
{
    width: 100%;
    height: 40%;
    background: white;
}

#item_img
{
    width: 100%;
    height: 60%;
    background: gray;
}

#sc_img
{
    float: left;
    width: 300px;
    height: 244px;
    margin-top: 20px;
    border-style: none;
    border-width: 1px;
    border-color: black;
}

#sc_menu
{
    float: left;
    margin-top : 20px;
    width: calc(100% - 303px);  
    font-size: 25px;
}

#sc_menu b
{
    float: left;
    margin-left: 25%;
    padding : 20px;
}

#sc_desc
{
    float: left;
}

#sc_desc h1
{
    padding : 5px;
    background: white;
}

#sc_menu a
{
    float: left;
    margin-top: 70px;
    margin-left: 25%;
    font-size: 25px;
    color: white;
}


#addcart
{
    background: #636EFF;
    border-style: solid;
    border-bottom-width: 4px;
    border-bottom-color : #1727FF;
    border-right-color : #636EFF;
    border-left-color : #636EFF;
    border-top-color : #636EFF;
}

#home_main
{
    height: 500px;
    width: 70%;
    margin-left: 15%;
}

#sc_main a
{
    text-decoration: none;
}

#sc_main
{
    padding : 40px;
    height: 600px;
    width: 500px;
}

#numbers
{
    height: 64px;
    display: inline-block;
}

#num_btn
{
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    width : 32px;
    height: 32px;
    background: #636EFF;
    font-size: 20px;
    color : white;
    text-align: center;
    border-width: 2px;
    border-bottom-width: 4px;
    border-bottom-color : #1727FF;
    border-right-color : #636EFF;
    border-left-color : #636EFF;
    border-top-color : #636EFF;
    border-style: solid;
    border-radius: 2px;
    font-weight: bold;
}

#num_btn a
{
    text-decoration: none;
    color: white;
}

#cart_main
{
    border-style: solid;
    border-width: 0px;
    border-top-width: 6px;
    border-color : whitesmoke;
    width: 50%;
    height: 500px;
    background: white;
}

#cart_item
{
    float: left;
    width : 100%;
    height : 100px;
    border-color: whitesmoke;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 6px;

}

#cart_item img
{
    float: left;
    width: 120px;
    height: 70px;
    padding : 15px;
}

#delete_btn
{
    float: right;
    margin-right: 60px;
    padding-top: 40px;
    font-size: 20px;
}

#delete_btn a{
    text-decoration: none;
    color : black;
}

#cart_item_name
{
    float : left;
    font-size: 20px;
    padding-top: 40px;
    padding-left : 30px;
    padding-right : 30px;
}

#cart_item_price
{
    float : left;
    font-size: 20px;
    padding-top: 40px;
    padding-left : 30px;
    padding-right : 30px;
}

#small_img 
{
    float:left;
    width: calc(40% - 12px);
    height: calc(50% - 12px);
    background: white;
    margin:6px;
}

#big_img 
{
    float:left;
    width: calc(60% - 12px);
    height: calc(100% - 12px);
    background: white;
    margin:6px;
}

#cart_suma
{
    float : right;
    margin-right: 20px;
    height : 40px;
    font-size: 20px;
    padding-top : 15px;
}

#tb_search
{
    float : left;
    width : 70%;
    margin-left : 2%;
    margin-top : 40px;
    height : 29px;
    border-color: #3652FF; 
    border-style: solid; 
    background: white;
}

#btn_search
{
    float : left;
    margin-left : 2%; 
    width: 25%;
    height : 35px;
    margin-top : 40px;
    background: white;
    border-color: #3652FF;
    border-style: solid; 
    font-weight: bold;
    font-size: 15px;
    color : #8394FF;
}

#zamow
{
    float: left;
    margin-left : calc(50% - 50px);
    margin-top: 10px;
    width : 120px;
    height : 20px;
    font-size: 20px;
    padding-bottom : 7px;
    background: #636EFF;
    border-style: solid;
    border-bottom-width: 4px;
    border-bottom-color : #1727FF;
    border-right-color : #636EFF;
    border-left-color : #636EFF;
    border-top-color : #636EFF;
}

#zamow a
{
    text-decoration: none;
    color : white;
}

#order_main
{
    padding-top : 10%;
    margin-left : calc(50% - 300px);
    width : 600px;
    height : 500px;
    background : white;
}

#order_main h1
{
    margin: 0px;
}

#order_main form
{
    float: left;
    width : 55%;
    font-weight: bold;
    margin: 20px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
}

#order_main form input , select
{
    border-style: solid;
    border-color: #3652FF;
    margin-bottom: 5px;
    margin-top: 5px;
}

#submit_order
{
    background : white;
    width: 100px;
    height : 25px;
    font-weight: bold;
    color : #8394FF;
}

#order_info
{
    margin-top: 20px;
    float : left;
    width : 35%;
    height: 40%;
}

#login_main
{
    width: 60%;
    margin-left : 25%;
    height: 500px;
    background : white;
}

#login_main form
{
    float: left;
    width : 55%;
    font-weight: bold;
    margin: 20px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
}

#login_main form input
{
    border-style: solid;
    border-color: #3652FF;
    margin-bottom: 5px;
    margin-top: 5px;
}

#submit_login
{
    background : white;
    width: 100px;
    height : 25px;
    font-weight: bold;
    color : #8394FF;
}

#pass_tb
{
    margin-left : 107px;
}

#login_main h1
{
    margin-top:0px;
    padding-top: 150px;
}

#repass_tb
{
    margin-left : 42px;
}

#email_reg
{
    margin-left: 107px;
}

#submit_reg
{
    background : white;
    width: 120px;
    height : 25px;
    font-weight: bold;
    color : #8394FF;
}

.comment
{
    width: 100%;
    background: white;
    border-bottom-width: 6px;
    border-bottom-color: whitesmoke;
    border-bottom-style: solid;
}


#ta_comment
{
    resize: none;
    width : 80%;
    height: 100px;
    padding : 6px;
    margin-top : 10px;
}

#add_comment form
{
    width: 100%;
    background : white;
}

#comm_sub
{
    background : white;
    width: 150px;
    height : 25px;
    font-weight: bold;
    color : #8394FF;
    margin-bottom: 10px;
}